@import (reference) '~@tg/ui/styles/all';

.self {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-top: 28px;

	// Input
	> div {
		width: 420px;
	}

	// Get started
	> button {
		margin-left: 18px;
	}
}
