@import (reference) '~@tg/ui/styles/all';

.self {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
	margin-top: 28px;

	// Input
	> div {
		width: 420px;
	}

	// Get started
	> button {
		margin-left: 18px;
	}

	// Media
	.media-mobile({
		flex-direction: column;

		// Input
		> div {
			width: 100%;
		}

		// Get started
		> button,
		> a {
			width: 100%;
			margin: 6px 0 0 0;
		}
	});
}
