@import (reference) '~@tg/ui/palettes.less';
@import (reference) '~@scc/scc-ui-kit/styles.less';

@import (reference) '../../../mixins/btn.less';
@import (reference) '../../../mixins/form.less';
@import (reference) '../../../mixins/card.less';

.self {
	.card-container();

	padding: 80px 120px 70px 0;
}

.left {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width: 50%;
}

.title {
	.card-title-iconed();

	position: relative;

	padding: 0 0 30px 43px;

	> span {
		position: relative;

		padding: 8px 14px;
		margin-left: 16px;

		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;

		color: @cc-primary;
		background: @cc-detail-blue-dim-on-bg-content;

		border-radius: @const-border-radius;
	}
}

.text {
	.card-sub-title();

	position: relative;

	width: 100%;
	padding-left: @const-card-side-padding;

	> span {
		.card-paragraph();

		position: relative;
		display: block;

		padding: 20px 0;
	}
}

.form {
	position: relative;

	width: 100%;
	padding-left: @const-card-side-padding;

	> div {
		.field-with-btn();
	}
}

.preview {
	position: relative;

	width: 45%;
	height: 360px;

	.card-demo();
}

.features {
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding-left: @const-card-side-padding;
	margin-top: 100px;

	> li {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: flex-start;

		padding: 40px 30px;

		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }

		> h2 {
			.card-feature-title();

			margin-bottom: 26px;
		}

		> p {
			.card-paragraph();
		}
	}

	&::before {
		.card-hf-border('top');

		width: ~'calc(100% - @{const-card-side-padding})';
	}
}
