@import (reference) '~@tg/resources/styles/palette';
@import (reference) '~@tg/resources/styles/text';
@import (reference) '~@tg/resources/styles/constants/border';

.self {
	display: flex;
	flex-direction: column;

	padding: 50px 40px 30px 40px;

	border-radius: @const-border-radius-big;

	// Icon
	> i {
		width: 44px;
		height: 44px;
		margin-bottom: 10px;
	}

	// Description
	> p {
		.text-paragraph-small-public(@cc-black-80);

		width: 80%;
	}
}
