@import (reference) '~@tg/ui/styles.less';

.self {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	min-height: 100vh;

	background: @cc-bg-public-gradient;

	> main {
		position: relative;

		width: 100%;
		padding: 0 10% 120px;
	}
}
