@import (reference) '~@tg/resources/styles/all';

.self {
	padding-bottom: 20px;
	margin-bottom: 30px;

	&:not(:last-child) {
		// as @cc-border-gray-light-color with opacity
		border-bottom: 1px solid rgba(218, 225, 237, .2);
	}

	// Title
	> h3 {
		margin-bottom: 10px;

		line-height: 30px;

		color: @cc-white;
	}

	> p {
		.text-paragraph-small-public(@cc-white);

		opacity: .6;
	}
}
