@import (reference) '~@tg/ui/palettes.less';
@import (reference) '../../../constants.less';

.self {
	position: relative;

	display: flex;
	justify-content: center;

	width: 100%;
	padding: 44px 10% 44px ~'calc(10% - 56px)';
	margin: 30px 0 50px 0;
}
