@import (reference) '~@tg/ui/styles.less';

// <h1> Promo title
.headline {
	.flex-column-start();

	width: 440px;
	margin-top: -75px;

	color: @cc-text-on-primary;

	// First sentence
	> span:first-child {
		color: @cc-sub;
	}
}
