@import '~@scc/scc-ui-kit/reset.less';
@import (reference) '~@tg/ui/palettes.less';

@import (reference) 'constants.less';

body {
	min-width: @const-max-content-width;
	-webkit-font-smoothing: antialiased;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;

	background: @cc-primary;

	> main {
		min-height: 100vh;
	}
}
