@import '~@tg/resources/styles/reset';

@import '~@tg/resources/styles/fonts';
@import '~@tg/resources/styles/palette';
@import '~@tg/resources/styles/animations';

// https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser

:root {
	--app-height: 100%;
}

html,
body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;

	// overflow: hidden;
	overscroll-behavior: none;

	@media not all and (hover: hover) {
		height: var(--app-height);
	}
}

main#app {
	min-width: 320px;
}

main {
	// 82px is header's height (for pages 100vh)
	min-height: calc(100% - 82px);
	background: @cc-blue-20;
}
