@import (reference) '~@tg/ui/styles/all';

.self {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 30%;
	max-width: 320px;
	margin: 0 30px;

	// Image
	> div {
		display: flex;
		justify-content: center;
		align-items: center;

		overflow: hidden;

		width: 130px;
		height: 130px;

		border-radius: 65px;

		> img {
			width: 100%;
			height: 100%;
		}
	}

	// Hint
	> span {
		.text-hint();

		margin-top: 30px;

		text-align: center;

		// Media
		.media-not-desktop({
			margin-bottom: 8px;
		});
	}

	// Heading
	> h3 {
		text-align: center;

		color: @cc-text-primary;

		// Media
		.media-not-desktop({
			margin-bottom: 8px;
		});
	}

	// Description
	> p {
		.text-paragraph-small-public(@cc-text-primary-dimer);

		text-align: center;
	}

	// Media
	.media-tablet({

		// Image
		> div {
			width: 100px;
			height: 100px;

			border-radius: 50px;
		}

		// Hint
		> span {
			margin-top: 10px;
		}
	});

	.media-mobile({
		> span {
			margin-top: 16px;
		}
	});
}
