@import (reference) '~@tg/resources/styles/palette';
@import (reference) '~@tg/resources/styles/texts';
@import (reference) '~@tg/resources/styles/media-queries/_';

.self {

	// Hint
	> span {
		margin-top: 20px;

		text-align: center;
	}

	// Heading
	> h3 {
		text-align: center;
	}

	// Description
	> p {
		text-align: center;
	}
}
