@import (reference) '~@tg/ui/styles/all';

.self {
	background: @cc-white;

	// Content
	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// Media
	.media-tablet({
		> div {
			justify-content: center;

			> img {
				width: 50%;
				margin-right: 40px;
			}
		}
	});

	.media-mobile({
		> div {
			flex-direction: column;

			> img {
				width: 100%;
				margin-top: 40px;
			}
		}
	});
}

.right {
	width: 390px;

	// Title
	> h2 {
		margin-bottom: 10px;

		color: @cc-text-primary;
	}

	// Description
	> p {
		.text-paragraph-public(@cc-text-primary);
	}

	// Media
	.media-mobile({
		width: 100%;
	});
}

.features {
	margin-top: 40px;

	> li {
		.text-paragraph-small-public(@cc-text-primary);

		&:not(:first-child) {
			margin-top: 20px;
		}

		// Icon
		> svg {
			margin-right: 20px;
			fill: @cc-text-primary-dimer;
		}
	}

	// Media
	.media-mobile({
		margin: 25px 0 0 25px;
	});
}
