@import (reference) '~@tg/ui/styles.less';

// <header> Container styles
.self {
	.flex-between-center();

	z-index: 1;

	width: 100%;
	max-width: 1400px;
	padding: 45px 120px;

	// Logo
	> div {
		margin-left: -55px;
	}
}
