@import (reference) '~@tg/resources/styles/palette';
@import (reference) '~@tg/resources/styles/constants/border';

// Notify box
.notify_box {
	position: relative;

	display: flex;
	justify-content: center;

	width: 100%;
	height: 40px;
	margin: 40px 0 0 0;
}

// Notification
.self {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	padding: 24px 16px;

	.text-notify-small(@color: @cc-white-100);

	border-radius: @const-border-radius-small;

	// Close
	> button {
		position: absolute;
		top: 12px;
		right: 0;

		height: 24px;
		padding: 4px;

		background: none;

		> i > svg > path { fill: @cc-white-100; }
	}

	.showAnimation {
		0% {
			opacity: 0;
			transform: translateY(15px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@animation_name: ~":local(showAnimation)";
	@keyframes @animation_name { .showAnimation; }
	animation-name: showAnimation;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

// States
.error {
	background: @cc-red-100;
}

.success {
	background: @cc-green-100;
}
