@import (reference) '~@tg/ui/styles/all';

.self {
	> div {
		.mixin-shadow-deep();

		overflow: hidden;

		border-radius: 20px;

		img {
			width: 100%;
		}
	}

	// Media
	.media-mobile({
		padding-right: 0;
		padding-left: 0;

		> div {
			border-radius: 0;
			box-shadow: none;
			&::before { content: none; }
		}
	});
}
