@import (reference) '~@tg/ui/styles/all';

.self {
	padding: 30px 150px;

	background: @cc-white;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 40px;

		border-top: 1px solid @cc-border-gray-light-color;

		// All rights reserved
		> span {
			margin-right: auto;
			margin-left: 50px;

			font-size: 14px;

			color: @cc-text-primary-dimest;
		}

		// Buttons
		> div {
			display: flex;
			align-items: center;

			> a {
				margin-left: 10px;

				color: @cc-text-primary-dimest;
				&:hover { color: @cc-text-primary-dimer; }
			}

			// Align
			margin-right: -12px;
		}
	}

	// Media
	.media-desktop-narrow({ padding: 20px; });
	.media-not-desktop({
		padding: 20px;
		> div {
			padding-top: 20px;

			> div:first-child { display: none; }
			> span { margin: 0; }
		}
	});

	.media-mobile({
		> div {
			> span { display: none; }
			> div:last-child {
				flex-direction: column;
				align-items: flex-start;
				> a { margin-left: -20px; }
			}
		}
	});
}
