@import (reference) '~@tg/resources/styles/palette';
@import (reference) '~@tg/resources/styles/texts';
@import (reference) '~@tg/resources/styles/media-queries/_';

.self {
	padding: 30px 150px;

	background: @cc-white-100;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 40px;

		border-top: 1px solid @cc-blue-20;

		// All rights reserved
		> span {
			margin-right: auto;
			margin-left: 50px;

			.text-detail-13(@cc-blue-30);
		}

		// Buttons
		> div:last-of-type {
			display: flex;
			justify-content: space-between;
			align-items: center;

			> a {
				margin-left: 18px;
			}
		}
	}

	// Media
	.media-desktop-narrow({
		padding: 20px 75px;
		> div {
			padding-top: 30px;
			padding-bottom: 6px;
		}
	});

	.media-not-desktop({
		padding: 20px;
		> div {
			padding-top: 20px;

			> div:first-child { display: none; }
			> span { margin: 0; }
		}
	});

	.media-mobile({
		> div {
			> span { display: none; }
			> div:last-of-type {
				flex-direction: column;
				align-items: flex-start;

				> a {
					padding: 6px 0;
					margin-left: 0;
				}
			}
		}
	});
}

.logo {
	margin: 0;

	opacity: .15;
}
