@import (reference) '~@tg/resources/styles/palette';
@import (reference) '~@tg/resources/styles/texts';
@import (reference) '~@tg/resources/styles/media-queries/_';

.vh {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100vh;
	min-height: -webkit-fill-available;
}

// Form container
.self {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;

	background: @cc-white-100;

	> form {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 420px;
		padding: 40px 40px 0 40px;

		// Title
		> h2 {
			margin-bottom: 40px;
		}

		// Fields
		> div {
			width: 100%;
			margin-bottom: 10px;

			> label {
				> div {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}
		}

		// Buttons (submit & google)
		> button {
			width: 100%;
			margin: 12px 0 0 0;
		}

		// Divider (OR)
		> span {
			.text-detail-12(@cc-blue-30);

			display: flex;
			justify-content: center;
			align-items: center;

			width: 100%;
			margin: 10px 0 0 6px;
		}
	}

	// Media
	.media-mobile({
		> form {
			padding: 16px;
		}
	});
}

// PP text & link
.pp {
	.text-paragraph-14(@cc-blue-30);

	margin-top: 24px;

	text-align: center;

	> a {
		.text-paragraph-14(@cc-blue-30);
	}
}

// Create account / Log in
.nav_item {
	display: flex;
	align-items: center;

	// Hint
	> span {
		.text-detail-13(@cc-blue-30);

		margin-right: 16px;

		// Media
		.media-mobile({
			display: none;
		});
	}
}
