@import (reference) '~@tg/resources/styles/all';

.self {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 35px 40px;

	background: @cc-white;
	border-radius: @const-border-radius-big;

	// TODO: Are we sure we don't need a shadow here?
	// .shadow-big(@hover: 'yes', @alpha: .05);
}

.header {
	position: relative;

	width: 100%;
	// TEMP
	padding-top: 30px;
	padding-bottom: 20px;

	border-bottom: 1px solid @cc-border-gray-light-color;

	> i > svg { transform: scale(1.5); }
	> p { .text-paragraph-small-public(@color: @cc-text-primary-dimer); }
	> h3 {
		margin-top: 20px;

		line-height: 30px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	// Price
	> span {
		width: 100%;

		font-size: 60px;
		font-weight: 600;

		color: @cc-text-primary;

		> span {
			.text-paragraph-small-public(@cc-text-primary-dimer);
			margin-left: 6px;
		}
	}

	// Features
	> ul {
		width: 100%;
		margin-top: 30px;

		> li {
			display: flex;
			align-items: center;

			padding: 3px 0;

			> i { margin-right: 10px; }
			> span { .text-paragraph-small-public(@cc-text-primary-dimer); }
		}
	}
}

.footer {
	width: 100%;

	> button { width: 100%; }
}

.sale_text {
	color: @cc-primary !important;
}

.sale_badget {
	position: absolute;
	top: -60px;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	// Beta sign
	> span {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 64px;
		height: 64px;

		background: @cc-primary;

		border-radius: 32px;
	}

	// Text
	> p {
		.text-action(@color: @cc-primary);

		margin-top: 6px;

		text-align: center;
	}
}
