@import (reference) '~@tg/ui/palettes.less';

@import (reference) '../../../mixins/btn.less';
@import (reference) '../../../mixins/card.less';

@import (reference) '../../../constants.less';
@import '../../../animations.less';

// Content container (card)
.self {
	.card-container();

	margin-top: -60px;
}

// Scroll arrow
.scroll {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding: 30px 0 20px 0;

	cursor: pointer;

	> img {
		position: absolute;

		transform: rotate(90deg);

		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-fill-mode: both;
	}

	&:hover {
		> img {
			animation-name: bounce;
		}
	}
}

// Header
.header {
	position: relative;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
	padding: 20px 44px;
	margin-bottom: 16px;

	// Title
	> div {
		.card-title-iconed();
	}

	// Border
	&::after {
		.card-hf-border('bottom');
	}
}

// Intro information
.intro {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	width: 50%;
	max-width: 50%;
	padding: 20px 20px 20px @const-card-side-padding;

	// Text
	> p {
		.card-sub-title();

		width: 480px;

		color: @cc-text-on-bg-content;
	}

	// Button (About poster)
	> a {
		.btn-more();

		margin-top: 30px;
	}
}

// Features list
.features {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 40%;
	padding: 20px @const-card-side-padding 20px 0;

	> li {
		position: relative;

		display: flex;
		align-items: flex-start;

		&:not(:first-child) {
			margin-top: 30px;
		}

		// Title
		> h2 {
			width: 22px;
			margin: 6px 30px 0 0;

			.card-feature-title();
		}

		// Description
		> p {
			.card-paragraph();
		}
	}
}

// Demo iframe
.demo {
	width: 100%;
	height: 540px;
	margin: 80px @const-card-side-padding 60px;

	.card-demo();
}

// Footer
.footer {
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 60px @const-card-side-padding;

	&::before {
		.card-hf-border('top');
	}

	> p {
		margin-right: 60px;

		.card-sub-title();
	}

	// Get started
	> a {
		.btn(@cc-secondary);

		white-space: nowrap;
	}
}
