// Local variables
@vertical-padding: 20px;

// <section> Main positioning and styles
.self {
	position: relative;

	display: flex;

	width: 100%;
}

// <section> Rulers type styles
.rulers__no { padding: @vertical-padding 0; }
.rulers__normal { padding: @vertical-padding 50px; }
.rulers__narrow { padding: @vertical-padding 120px; }
