@import (reference) '~@tg/ui/styles/all';

.self {
	background: @cc-white;
}

.info {
	width: 440px;

	// Title
	> h2 {
		margin-bottom: 20px;

		color: @cc-text-primary;
	}

	// Description
	> p {
		.text-paragraph-small-public(@cc-text-primary);
	}
}

.graph_container {
	margin-top: -80px;

	background: white;
}

.dot {
	width: 10px;
	height: 10px;

	background: @cc-white;

	border: 2px solid @cc-primary;
	border-radius: 5px;
}

.dot_active {
	width: 14px;
	height: 14px;

	background: @cc-primary;

	border: 2px solid @cc-primary;
	border-radius: 7px;
}

.tooltip {
	padding: 20px 30px;

	background: @cc-white;

	border: 1px solid @cc-border-gray-light-color;
	border-radius: 4px;

	.shadow-small();

	> ul {
		display: flex;
		flex-direction: column;
		align-items: center;

		> li {
			display: flex;
			align-items: center;

			font-size: 13px;

			color: @cc-text-primary;

			> span {
				margin-right: 8px;

				font-size: 20px;
				font-weight: 400;
				text-align: right;

				color: @cc-text-primary;
			}

			&:last-child:not(:first-child) { margin-top: 8px; }
		}
	}
}

.delta {
	> span {
		font-size: 20px;
		font-weight: 400;
	}
}

.delta_positive {
	> span {
		color: @cc-msg-ok-text !important;
	}
}

.delta_negative {
	> span {
		color: @cc-msg-fail-text !important;
	}
}

.tick {
	font-size: 13px;

	> text {
		fill: @cc-text-primary-dimest;
	}
}
