@import (reference) '~@scc/scc-ui-kit/styles.less';
@import (reference) '~@tg/ui/palettes.less';

// Common button
.btn(@bg: @cc-sub-on-primary, @color: @cc-primary) {
	#btn > .compose_theme(
		@colors: { #btn > .colors(@color, @bg) },
		@text: { #btn > .text(20px, 500) },
		@size: { #btn > .size(18px 34px) },
		@border: { #btn > .border(10px) },
		@icon: { #btn > .icon(@left: 12px) },
		@shadow: { #btn > .shadow(@shadow-btn) }
	);

	height: 60px;

	// Common additional styles
	line-height: 1.2em;
	white-space: nowrap;
}

// Read more button
.btn-more(@color: @cc-primary) {
	#btn > .compose_theme(
		@colors: { #btn > .colors(@color, none) },
		@icon: { #btn > .icon(@right: 0, @left: 8px) },
		@size: { #btn > .size(8px 0) },
		@text: { #btn > .text(20px, 600) }
	);
}

// Google auth button
.btn-google() {
	#btn > .compose_theme(
		@colors: { #btn > .colors(@cc-google-color, @cc-google-bg) },
		@border: { #btn > .border(@const-border-radius) },
		@size: { #btn > .size(14px 0) },
		@shadow: { #btn > .shadow(@shadow-btn) },
		@text: { #btn > .text(14px) },
		@icon: { #btn > .icon(30px, @right: 0) }
	);
}
