@import (reference) '~@tg/ui/styles.less';

// Common styles for
// background details (patterns)
.pattern() {
	position: absolute;
	z-index: -1;
}

.demo {
	overflow: hidden;

	width: 700px;

	border-radius: @const-border-card-radius;
	box-shadow: @shadow-card;

	transform: scale(1);
	transition: transform 350ms ease-in-out;

	> img {
		width: 100%;
	}

	&:hover {
		transform: scale(1.1);
	}
}

// Promo section
.promo {
	.flex-between-center();

	> img:first-child {
		.pattern();

		top: 0;
		left: 55%;

		width: 220px;

		transform: rotate(20deg);
	}

	> img:last-child {
		width: 500px;
		margin-right: -40px;
	}
}

// Promo features
.promo_features {
	padding-top: 45px;

	> img {
		.pattern();

		top: -180px;
		left: 23%;
	}
}

// Management features
// with an interactive demo aside
.manage_features {
	.flex-between-start();

	// Pattern
	> img {
		.pattern();

		top: -40px;
		left: 120px;

		width: 250px;

		transform: rotate(35deg);
	}

	// Demo
	> div {
		margin-left: 50px;
	}
}

// Posts creating features
.posts_features {
	.flex-between-start();

	> img {
		.pattern();

		top: -40px;
		right: 8%;

		width: 250px;
	}

	// Demo
	> div {
		margin-right: 50px;
	}
}

// Team work
.team_features {
	.flex-between-start();

	> img {
		.pattern();

		top: -40px;
		left: 120px;

		width: 250px;

		transform: rotate(35deg);
	}

	// Demo
	> div {
		margin-left: 50px;
	}
}

// Pricing
.pricing {

}

// Roadmap
.roadmap {
	.flex-column-start();

	> img {
		.pattern();

		top: -40px;
		right: 150px;

		transform: rotate(15deg);
	}
}

// Subscribe
.subscribe {
	.flex-column-start();

	> footer {
		margin-top: 80px;
	}
}

.footer_bg {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 420px;

	background: @cc-sub;
}
