@import (reference) '~@tg/resources/styles/constants/transition';
@import (reference) '~@tg/resources/styles/palette';
@import (reference) '~@tg/resources/styles/shadows';
@import (reference) '~@tg/resources/styles/media-queries/_';

.mixin-btn-hover-underline {
	> ul > li {
		> a,
		> button {
			border-bottom: 2px solid transparent;
			transition: border-color @tt @tf;

			&:hover {
				border-bottom: 2px solid @cc-yellow-100;
				transition: border-color @tt @tf;
			}
		}
	}
}

.demo {
	margin-top: -275px;

	// Media
	.media-mobile({
		padding: 0;
		margin-top: -190px;

		background: @cc-blue-20;
	});
}

.nav {
	margin-right: auto;
	margin-left: 80px;

	.mixin-btn-hover-underline;

	// Media
	.media-not-desktop({
		display: none;
	});
}

.sign_in {
	.mixin-btn-hover-underline;

	// Media
	.media-mobile({
		> ul > li:last-child { display: none; }
		> ul > li:first-child { margin-right: 0; }
	});
}

.shadow { .shadow-small; }
.shadow_cover { margin-top: -5px; }
.shadow_common {
	position: sticky;
	top: 55px;
	z-index: 1;

	padding: 5px 0 !important;

	background: @cc-white-100;

	// Media
	.media-not-desktop({
		display: none;
	});
}

.logo {
	margin-top: -15px;

	// For desktop allign text part of logo
	// with other text on the page
	.media-desktop-all({
		margin-left: -26px;
	});
}
